# Ignorar entornos virtuales
venv310/
.venv/

# Ignorar archivos de datos y resultados
data/.DS_Store
results/.DS_Store

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos grandes no necesarios
*.h5
.DS_Store
